[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=bootfloppy

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=bootmode
Exec=/sbin/yast2 bootfloppy

Name=Create a Boot, Rescue, or Module Floppy
GenericName=Insert a floppy disk and create a standalone boot, rescue or module floppy.
Name[cs]=Vytvořit systémovou disketu
GenericName[cs]=Vložte disketu a vytvořte disketu startovací, záchrannou nebo s moduly
Name[de]=Erstellen einer Boot-, Rettungs- oder Moduldiskette
GenericName[de]=Legen Sie eine Diskette ein, um eine eigenständige Boot-, Rettungs- oder Moduldiskette zu erstellen.
Name[es]=Crear un disquete de arranque, rescate o módulos
GenericName[es]=Inserte un disquete para crear un disco de arranque, rescate o módulos
Name[hu]=Indító-, mentő- vagy modullemez létrehozása
GenericName[hu]=Helyezzen be egy hajlékonylemezt és hozzon létre egy indító-, mentő- vagy modullemezt.
Name[it]=Crea il dischetto di avvio, di ripristino o dei moduli
GenericName[it]=Inserite un dischetto e create un disco di avvio, di ripristino o dei moduli.
Name[ko]=부트, 복구 또는 모듈 플로피디스크 생성
GenericName[ko]=플로피디스크을 넣으시오 그리고 단독부트, 복구 모듈 플로피를 만듭니다.
Name[nl]=Een boot-, reddings- of module-disk aanmaken
GenericName[nl]=Plaats een floppydisk en maak een standalone boot-, reddings- of module-disk aan.
Name[pt]=Criar um disquete de boot, recuperação ou de módulo
GenericName[pt]=Insira um disquete e crie um disquete de boot, recuperação ou de módulo.
Name[sk]=Vytvoriť štartovaciu, záchrannú alebo disketu s modulami
GenericName[sk]=Vložte disketu a vytvorte štartovaciu, záchrannú alebo disketu s modulami.
Name[sv]=Skapa en start-, räddnings- eller moduldiskett
GenericName[sv]=Sätt i en diskett och skapa en fristående start-, räddnings eller moduldiskett
Name[bg]=Създаване на стартиращи, спасителни или дискети с модули
GenericName[bg]=Поставете дискета за създаване на стартиращи, спасителни или дискети с модули.
GenericName[da]=Isæt en diskette og lav en selvstændig opstarts-, rednings- eller modul-diskette.
Name[el]=Δημιουργία μιας Δισκέτας Εκκίνησης, Διάσωσης ή Μονάδων Πυρήνα
GenericName[el]=Εισάγετε μια δισκέτα και δημιουργείστε μια αυτόνομη δισκέτα εκκίνησης, διάσωσης ή μονάδων πυρήνα.
Name[fr]=Créer une disquette d'amorçage, de secours ou de modules
GenericName[fr]=Insérer une disquette et créer une disquette d'amorçage, de secours ou de modules.
Name[ja]=ブート・フロッピー、レスキュー・フロッピーあるいはモジュール・フロッピーを作成する
GenericName[ja]=フロッピーを入れて、ブート・フロッピー、レスキュー・フロッピーあるいはモジュール・フロッピーを作成する。
GenericName[lt]=Įdėkite diskelį ir sukurkite įkrovos, avarinį arba modulių diską
Name[sl]=Kreiraj zagonsko, reševalno ali modulno disketo
GenericName[sl]=Vstavite disketo in naredite samostojno zagonsko, reševalno ali modulno disketo.
GenericName[tr]=Bir disket takın ve bir açılış, kurtarma ya da modül disketi oluşturun.
X-KDE-SubstituteUID=true
